__pycache__
checkpoints
comet-default
.vscode
main_utils/__pycache__
models/__pycache__
model_utils/__pycache__
data
cropped_data
pre-processing
Untitled.ipynb
Validation_output/
prj_utils/__pycache__
*/__pycache__
